.login {
  background-color: $color-dark;
  background-image: url('/img/bg.jpg');
  background-position: center;
  background-size: cover;
  display: table;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  bottom: 0;
}
